<div class="container w-auto mt-5">
    <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">Gastos</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Vivienda</th>
            <td>3643.90</td>
          </tr>
          <tr>
            <th scope="row">Educacion</th>
            <td>3643.90</td>
          </tr>
          <tr>
            <th scope="row">Alimentacion</th>
            <td>3643.90</td>
          </tr>
          <tr>
            <th scope="row">Vestimenta</th>
            <td>3643.90</td>
          </tr>
          <tr>
            <th scope="row">Turismo</th>
            <td>3643.90</td>
          </tr>
          <tr>
            <th scope="row">Salud</th>
            <td>14575.6</td>
          </tr>
          <tr class="table-info">
            <th scope="row">Gastos Totales</th>
            <td>14575.6</td>
          </tr>
        </tbody>
      </table>
</div>