<div class="container">
    <h2 class="text-center">Facturas Gastos</h2>
    <div container class="w-auto d-flex justify-content-center mt-4">
        <form  class="w-50">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">RUC</span>
                <input type="text" class="form-control" placeholder="Numero de RUC" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            <div class="input-group mb-3">
               <span class="input-group-text" id="basic-addon1">Valor Fact:</span>
               <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <select class="form-select" aria-label="Default select example">
                <option [value] = "item.id" *ngFor="let item of items">{{item.name}}</option>
              </select>
              <button class="btn btn-secondary mt-3">Agregar</button>
              <button type="submit" class="btn btn-primary mt-3 ms-5">Calcular</button>
        </form>
    </div>
</div>
<hr>
<div class="container w-100 mt-3">
    <table class="table table-success table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody >
            
        </tbody>
    </table>
</div>